:root {
  --primaryColor: #f9ce69;
  --secondaryColor: #d9eff7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #000000;
  border-radius: 30px;
  width: 450px;
  margin: 50px auto 10px auto;
}

footer {
  text-align: center;
}