:root {
  --primaryColor: #f9ce69;
  --secondaryColor: #d9eff7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Poppins', sans-serif;

}

footer {
  text-align: center;
  font-size: 0.7em;
}