.WeatherForecast {
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.WeatherForecast-min {
    opacity: 0.6;
}

.WeatherForecast-min {
    margin-left: 5px;
}

